body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  background: #222;
  color: #fff;
  padding: 8px;
  width: 100%;
}

#root {
  padding: 16px;
}

.config-selector::before {
  content: ">  ";
}
/* if a button has a sibling div immediately after, change content to "< " */
.config-selector:has(+ div)::before,
.config-selector + div ~ .config-selector::before {
  content: "<  ";
}

button.config-selector {
  display: block;
  width: 100%;
  text-align: left;
  padding: 8px;
  margin-bottom: 4px;
  cursor: pointer;
}

div.part-info {
  margin-left: 14px;
  padding-left: 6px;
  margin-bottom: 12px;
  margin-top: 6px;
  border-left: 2px solid #ccc;
}
